/**** NAVBAR STYLING *****/
  #ht_title{
  color: white;
}

/******   MAPS   *******/
#outcome_title_map{
font-size: 2.6rem;
font-weight: 400;
}

#outcome_title_dt{
  font-size: 2.6rem;
font-weight: 400;
}


/******   SIZES OF CONATINERS/DIVS/ROWS ETC   *******/
#col_input {
margin-left: auto;
margin-right: auto;
}


#col_output {
margin-left: auto;
margin-right: auto;
padding-right: 0px;
}

#col_description {
min-height: 380px;
margin-left: auto;
margin-right: auto;
}

#outcome_title {
font-size: 2.4rem; 
}

#outcome_title_dt{
margin-top:10px;
}

#variable_title {  
font-size: 1.9rem; 
}

#download_button_row{
margin-bottom:20px;
}

#data_vis_tabs{
margin-bottom:10px;
}

#count_desc{
margin-top: 10px;
}

#rate_desc{
margin-top:10px;
}


/**** DATA WARNING *****/
.data_warning{
  padding-top:10px;
  color: red;
}
