/**** OVERRIDES FROM MAIN STLYLE SHEET ****/
.btn.btn-default {
  background-color: var(--hfBlue);
  border-color: var(--hfBlueMedium);
  color:var(--white);

}


.btn.radiobtn.btn-default {
  border-color: var(--hfBlueLight);
  background-color: var(--hfBlueLight);
  border-radius: 0;
}

.btn.radiobtn.btn-default:hover {
  background-color: var(--hfBlueMedium);
  border-color: var(--hfBlueMedium);
  color:white;
  font-weight: 600;
}

.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-left-color: var(--hfBlue);
    border-left: dotted;
    border-left-width: 1px;
}

.row{
    margin-top:10px
}


.btn.btn-default-inverted {
  background-color: var(--white);
  border-color: var(--white);
  color:var(--hfBlue);

}
.btn.btn-default-inverted:hover {
  background-color: var(--white);
  border-color:var(--hfBlue);
  color:var(--hfBlue);

}


/**** END OVERRIDE ****/


/**** SCROLL BAR ****/
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hfBlueMedium);
  outline: 1px solid var(--hfBlueMedium);
}
/**** END SCROLL BAR ****/

label{
  font-size:1.8rem;
}

.tooltip-inner{
  font-size: 1.5rem;
  background-color: var(--hfRed);
  max-width: 350px;
  
}

.container-fluid {
  margin:auto;
  max-width: 1060px;
}


.results_header {
 font-size: 2.5rem;
 font-weight: bold;
 line-height: 1.2;
}

.results_well_box{
  min-height: 50px;
}
.results_well {
  background-color:white;
  margin-left: 15px;
  margin-right: auto;
}

.explanitory_well {
  background-color:white;
  margin-left: 15px;
  max-width: 650px;
  font-size: 1.7rem;
}


/* Pop-up */

.modal-title{
  font-size: 2.5rem;
  font-weight:650;
}

label[for="new_af"]{
  font-size: 1.7rem;
  font-weight: 400;
}

label[for="no_ac"]{
  font-size: 1.7rem;
  font-weight: 400;
}


#new_af {
max-width: 340px
}

#no_ac {
max-width: 340px
}


#user_age {
font-size:3.5rem;
color:var(--hfBlue);
height:50px;
width: 110px;
background-color:var(--hfBlueMedium);
border-color:var(--hfBlue);
  }

#user_age:hover {
font-size:3.7rem;
color:white;
height:50px;
width: 110px;
background-color:var(--hfBlue);
  border-color:#e8e3e3;
  line-height:50px;

}

#input_col {
max-width:360px;
margin-left: auto;
margin-right: auto;
}

#in_prevDiag {
font-size: 2.1rem;
font-weight: 700;
}


#results {
max-width:520px;
margin-left: auto;
margin-right: auto;

}


#results_bleeding_well {
background-color:#c8e6c9;
  margin-left: auto;
margin-right: auto;
}

#results_gauge {
min-height: 220px;
}

#plot_stroke{
  float:left
  
}

#stroke_desc2{
  padding-bottom: 10px;
}

#row_restart{
  margin-top: 25px;
  margin-left: 1px;
  display: flex;
  justify-content: space-between;
}

/*Hide tabset from users*/
#tabset{
  display: none;
}

/* STYLE FOR BOARD */
  
  #board-inner {
  padding: 0px;
display: block;
max-width: 240px;
margin-left:auto;
margin-right:auto;
background: #fff;
  border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 0px solid #aaa;
}
@media only screen and (max-width: 460px) {
  #board-inner {
  padding: 1px;
}
}
.board-row {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.board-cell {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
}





.board-cell.off {
  background: #009900;
}
.board-cell.on {
  background: #CD0000;
}
.board-cell.off:hover {
  background: #3AB903;
}
.board-cell.on:hover {
  background: #CD0000;
    background: -webkit-linear-gradient(rgb(66, 255, 66), #065006);
                                        background: -moz-linear-gradient(rgb(66, 255, 66), #065006);
                                                                         background: radial-gradient(rgb(66, 255, 66), #065006);
}


@media only screen and (max-width: 550px) {
  #congrats {
  font-size: 30px;
  }
}
