label{
  font-size:1.8rem;
}

.tooltip-inner{
  font-size: 1.5rem;
  background-color: var(--hfRed);
  max-width: 300px;
  
}

.container-fluid {
  margin:auto;
  max-width: 1060px;
}


.results_header {
 font-size: 2.5rem;
 font-weight: bold;
 line-height: 1.2;
}


.results_well {
  background-color:white;
  margin-left: 15px;
  margin-right: auto;
}

.explanitory_well {
  background-color:white;
  margin-left: 15px;
  max-width: 650px;
  font-size: 1.7rem;
}

#user_age {
font-size:3.5rem;
height:50px;
width: 110px;
background-color:#efefef;
  border-color:#efefef;
  }

#user_age:hover {
font-size:3.7rem;
height:50px;
width: 110px;
background-color:#e8e3e3;
  border-color:#e8e3e3;
  line-height:50px;

}

#input_col {
max-width:360px;
margin-left: auto;
margin-right: auto;
}

#in_prevDiag {
font-size: 1.9rem;
font-weight: 700;
}


#results {
max-width:520px;
margin-left: auto;
margin-right: auto;

}


#results_bleeding_well {
background-color:#c8e6c9;
  margin-left: auto;
margin-right: auto;
}

#results_gauge {
min-height: 220px;
}


/* STYLE FOR BOARD */
  
  #board-inner {
  padding: 0px;
display: block;
max-width: 240px;
margin-left:auto;
margin-right:auto;
background: #fff;
  border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 0px solid #aaa;
}
@media only screen and (max-width: 460px) {
  #board-inner {
  padding: 1px;
}
}
.board-row {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.board-cell {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
}





.board-cell.off {
  background: #009900;
}
.board-cell.on {
  background: #CD0000;
}
.board-cell.off:hover {
  background: #3AB903;
}
.board-cell.on:hover {
  background: #CD0000;
    background: -webkit-linear-gradient(rgb(66, 255, 66), #065006);
                                        background: -moz-linear-gradient(rgb(66, 255, 66), #065006);
                                                                         background: radial-gradient(rgb(66, 255, 66), #065006);
}


@media only screen and (max-width: 550px) {
  #congrats {
  font-size: 30px;
  }
}
